@font-face {
    font-family: Newtype;
    src: url("https://tyrpak.github.io/WD130/wwr/styles/newtype.otf") format("opentype");
}

@font-face {
    font-family: Roboto;
    src: url("https://tyrpak.github.io/WD130/wwr/styles/roboto.ttf") format("truetype");
}




body {
        background-color: #ED8B00; 
        color: #252532; 
        margin: 0;
        padding: 0;
        font-family: Roboto, Helvetica, sans-serif;
    }

a {text-decoration: none;}

h1, h2, h3, h4, h5, h6 { font-family: Newtype, Helvetica, sans-serif;}

h2 {margin: 0;}


header {
            background-color: #252532;
            display: grid;
            grid-template-columns: 150px auto;
        }

.icon {padding-top: 10px;}

img.logo {
    z-index: 2;
    position: relative;
    margin: -5px -75px -50px 0px;
}


#logo_link {
            padding-top: 5px;
            justify-self: center;
            align-self: center;
        }

nav {
    display: flex;
    justify-content: space-around;
}

nav a {text-align: center; color: #ED8B00; /*margin: 0 10px;*/ padding: 35px;}
nav a:hover {background-color: #ED8B00; color: #252532;}
nav.active a {background-color: #ED8B00; color: #252532;}

div#content {max-width: 1600px; margin: 0 auto;}

.home-grid, .page2-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

div#hero, main {background-color: #FBFFFE;}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero img {width: 100%;}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 450px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    /*z-index: -1;*/
    margin-bottom: -4px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: #FBFFFE;
}

section#hero-msg {padding-bottom: 20px;}

.button-box {text-align: center; padding: 10px;}
main section {text-align: center;}

.home-title {
                font-size: 2em;
                margin-top: 10px;
            }

.book, .join {
                font-size: 18px;
                padding: 15px 30px;
                margin-top: 50px;
                border-radius: 5px;
            }

.book {background-color: #ED8B00; color: #252532;}
.book:hover {background-color: #252532; color: #FBFFFE;}

.join, .msg-desolation .book {background-color: #252532; color: #FBFFFE;}
.join:hover, .msg-desolation .book:hover {background-color: #252532; color: #ED8B00; }

.msg {
        background-color: #ED8B00; 
        line-height: 1.5em;
        padding: 35px;
    }

.msg p {
        font-size: .8em;
        padding-bottom: 15px;
    }

.icon {width: 80px;}

.rivers-card, .camping-card, .rapids-card {margin: 50px 0;}

.card-img {
        border: 10px solid #252532;
        transition: transform .5s;
        box-shadow: 5px 5px 10px #252532;
    }

.card-img:hover {
        opacity: .6;
        transform: scale(1.1);
    }

.card-img {     width: 100%; }

.rivers-card {
        grid-column: 2/4;
        grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

.salmon-card {
    grid-column: 2/4;
    grid-row: 13/13;
}

.desolation-card {
grid-column: 5/7;
grid-row: 13/13;
}

.grand-card {
grid-column: 8/10;
grid-row: 13/13;
}

.salmon-card img, .desolation-card img, .grand-card img {
    width: 50%;
}

.background {
    height: 725px; 
    background-color: #ED8B00;
    grid-column: 1/11;
    grid-row: 4/9;
 }

 .background-salmon {
    height: 725px; 
    background-color: #ED8B00;
    grid-column: 1/11;
    grid-row: 1/5;
 }

 .background-desolation {
    background-color: #FBFFFE;
    grid-column: 1/11;
    grid-row: 5/6;
 }

 .background-grand {
    height: 725px; 
    background-color: #ED8B00;
    grid-column: 1/11;
    grid-row: 8/11;
    margin-top: 75px;
 }

 .background-cards {
    background-color: #FBFFFE;
    grid-column: 1/11;
    grid-row: 12/15;
    height: 200px;
 }

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #252532;
}

.salmon {
    width: 100%;
    grid-column: 1/6;
    grid-row: 2/4;
    box-shadow: 5px 5px 10px #252532;
}

.desolation {
    width: 100%;
    grid-column: 5/10;
    grid-row: 5/7;
    box-shadow: 5px 5px 10px #252532;
    margin-top: 75px;
}

.grand {
    width: 100%;
    grid-column: 1/6;
    grid-row: 8/11;
    box-shadow: 5px 5px 10px #252532;
    margin-top: 150px;
}

img.mountains, img.salmon, img.desolation, img.grand {margin-bottom: -5px;}

.msg, .msg-salmon, .msg-grand {
    background-color: #252532;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #252532;
    color: #FBFFFE;
    
}

.msg-salmon {
    margin-top: 75px;
    grid-column: 5/10;
    grid-row: 2/3;
}

.msg-desolation {
    background-color: #ED8B00;
    padding: 35px;
    grid-column: 1/6;
    grid-row: 5/6;
    box-shadow: 5px 5px 10px #ED8B00;
    margin-top: 150px;
}

.msg-grand {
    grid-column: 5/10;
    grid-row: 9/10;
}

main section img {
    box-sizing: border-box;
}

footer {
            background-color: #252532;
            padding: 25px 50px;
            margin-top: 75px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

footer p {font-size: 1.2em;}  
footer a {color: #ED8B00; margin-left: 10px;}
footer a:hover {color: #FBFFFE;}

footer .social img {padding-top: 15px;}

@media screen and (max-width: 900px) {
    #hero, .home-grid, .page2-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card, .salmon-card, .desolation-card, .grand-card { 
        margin: 50px auto;
        width: 60%;
    }
    .background {
        background-color: #FBFFFE;
    }
    .background-salmon, .background-grand, .background-cards {height: 0px;}

    img.grand {margin-top: 0px;}

    .mountains, .msg, .msg-salmon, .msg-desolation, .msg-grand {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}